<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

        <context:component-scan base-package="com.thzhima.mvcblog.controllers">
        </context:component-scan>
        
        <mvc:annotation-driven></mvc:annotation-driven>
        
        <mvc:interceptors>
            
            <mvc:interceptor>
                 <mvc:mapping path="/*"/>
                  <bean class="com.thzhima.mvcblog.Interceptors.SetCharSetInterceptor"></bean>
            </mvc:interceptor>
        </mvc:interceptors>
        
        
        <!-- 配置SpringMVC视图解析器，将ModelAndView及字符串解析为具体的页面 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	    p:viewClass="org.springframework.web.servlet.view.JstlView"
	    p:suffix=".jsp"/>
	    
	    <!-- 文件上传 -->
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" -->
<!-- 	    p:maxUploadSize="1024000000" -->
<!-- 	    p:uploadTempDir="/temp/" -->
<!-- 	    p:maxInMemorySize="10240" -->
<!-- 	    p:defaultEncoding="utf-8"/> -->



</beans>
