<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bower_components//bootstrap/dist/css/bootstrap-theme.css">
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <style>
       #types>li:hover{
           background:#bbb;
       }
    </style>
    <script>
        $(function(){
            $('#types>li').click(function(){
                var t = $(this).text().trim();
                var pid = $(this).attr('name');
                $('#parent').val(t+":"+pid) ;
            });
        });

    </script>
</head>
<body>
    <div class="container">

    
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">添加分类</h3>
          </div>
          <div class="panel-body">
                
                <!-- --------------------------------- -->
                
                <div class="input-group">
                    <div class="input-group-addon">类型名：</div>
                    <input type="text" class="form-control"  id="type"
                    id="exampleInputAmount"  >
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" id="parent">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default 
                        dropdown-toggle" data-toggle="dropdown">父类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" id='types'>
                            <li name='' title="无ID">顶级分类</li>
                            {% for i in types %}
                            <li name='{{i[0]}}' title="ID:{{i[0]}}">
                                {{i[1]}}
                            </li>
                            
                            {% endfor%}
                        </ul>
                    </div>
                </div>
                <br>
                <!-- ====================================== -->
                
             
                         
                         
                    <button type="button" class="btn btn-primary pull-right">添加</button>

                
                
                
          </div>
    </div>
</div>
</body>
</html>