.page{
    width:100vw;
    height:100vh;
    background:green;
}

.page>swiper{
    background:white;
    width:100vw;
}
.page>swiper>swiper-itme{
    height:400rpx;
    width:100vw;
    background:yellow;
}
