<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>申请博客</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    
    <div class="container">
        
        <div class="panel panel-danger">
              <div class="panel-heading">
                    <h3 class="panel-title">申请博客</h3>
              </div>
              <div class="panel-body">
                    <form action="./apply.do" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="input-group-addon">博客名</div>
                        <input type="text" class="form-control" name="blogName">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">头像</div>
                        <input type="file" class="form-control" name="photo">
                    </div>
                    <br>
                    
                    <button type="submit" class="btn btn-danger pull-right">申请</button>
                    
                </form>
              </div>
        </div>
        
    </div>
    
</body>
</html>