<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册协议</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>

    <div class="container">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">注册协议</h3>
            </div>
            <div class="panel-body">
                    协议1
					
                    
                    <br>
                    <button type="submit" class="btn btn-success pull-left" onclick="location='/'">返回</button>
                    <button type="submit" class="btn btn-success pull-right" onclick="location='/registpage'">同意</button>
                
            </div>

        </div>

    </div>

</body>

</html>